.checkmark {
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #e2e4e9;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 0.5px;
    left: 4.5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.custom-checkbox {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #344054;
  width: fit-content;

  .checkbox-container {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2e1758;
  border: 1px solid #253ea7;

  &::after {
    display: block;
  }
}
